body {
	font-family: "Source Sans Pro", sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
	background: url(../img/pattern.jpg) no-repeat center top / cover;
	height: 100vh;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 41px;
	float: left;
	height: 120px;
}

nav {
	float: right;
	margin-top: 45px;
}

.menu li:hover {
	text-decoration: underline;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
}

.menu a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 24px;
}

.contakt_me {
	padding-left: 25%;
	padding-top: 40px; 
	margin: 0;
	display: block;
}

.contakt_me li {
	float: left;
	display: block;
	margin-right: 51px;
	background: #fed136;
}

h1 {
	font-size: 75px;
	color: black;
	text-transform: uppercase;
	text-align: center;
	margin-top: 30px;
}

p {
	font-size: 40px;
	color: black;
	text-transform: uppercase;
	text-align: center;
	margin-top: 75px;
}